.parent{
    background: linear-gradient(45deg,#a58bbb 10%, #8a3fcc 30%, #4b06b9 90%);
    height: 100vh;
    position: relative;

}


.child{
    background-image: url('D:\Web Development\Online_exam\online_exam_ui\src\assets\fonts\Inter\bg2.png'),
                      url('D:\Web Development\Online_exam\online_exam_ui\src\assets\fonts\Inter\bg1.png');
    background-repeat: no-repeat;
    background-size: 90% auto, 30% auto;
    background-position: left  bottom, right top; 
    position: absolute;
    bottom: 0;
    top: 0;


}

/* .parent{
    background-color: linear-gradient(45deg,#a58bbb 10%, #8a3fcc 30%, #4b06b9 90%);
    height: 100vh;
    background-image: url('D:\Web Development\Online_exam\online_exam_ui\src\assets\fonts\Inter\bg2.jpg'),
                      url('D:\Web Development\Online_exam\online_exam_ui\src\assets\fonts\Inter\bg1.jpg');
    background-repeat: no-repeat;
    background-size: 30% auto, 25% auto;
    background-position: left  bottom, right top; 
    justify-content: center;
} */




