.course_img{
    border-radius: 290.811px;
    background: white;
    box-shadow: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)';
    /* width: 290.811px;
    height: 290.811px; */
    /* flex-shrink: 0; */

}